{{template "header"}}
        <div class="ui segment">
          <div class="ui icon buttons">
            <button class="ui labeled icon button"><i class="add square icon"></i>upload file</button>
          </div>
          <div class="ui icon buttons">
            <button class="ui button"><i class="remove icon"></i></button>
            <button class="ui button"><i class="cut icon"></i></button>
            <button class="ui button"><i class="copy icon"></i></button>
            <button class="ui button"><i class="paste icon"></i></button>
          </div>

          <div class="ui fluid vertical menu">
            <a class="item icon" href="../">up<i class="level up icon"></i></a>
            <!-- <input type="checkbox" name="select"> -->
            {{range .}}
              {{if .IsDir}}<a class="item icon" href="{{.Name}}/"><i class="folder icon"></i> {{.Name}}</a>{{end}}
              {{if not .IsDir}}<a class="item icon" href="{{.Name}}"><i class="file icon"></i> {{.Name}}</a>{{end}}
            {{end}}
        </div>
      </div>
  </div>
{{template "footer"}}
