{{template "header"}}
      <script src="/static/lazyload-unsized.js"></script>
        <div class="ui segment">

          <div class="ui images">
            {{range .}}
              {{if not .IsDir}}<img class="ui image unloaded" height="200px" data-src="{{.Name}}"></img>{{end}}
            {{end}}
          </div>

          <div class="ui segment">
            </br>
            <div class="ui dimmer ">
              <div class="ui text loader">Generating Thumbs</div>
            </div>
            </br>
          </div>


      </div>
  </div>
{{template "footer"}}
