{{template "header"}}
        <div class="ui segment">
          <p>The <b>browse</b> section will show a traditional file menu without previews or in browser playing, allowing only file downloading.</p>
          <p>The <b>images</b> section will provide an optimised view of images while providing folder based navigation.</p>
          <p>The <b>music</b> section should provide native support for playlists and sorting by album, with search functionality, music will be playable in browser.</p>
          <p>The <b>video</b> section will allow searching through a list of files with video extenssions and allow playing them within the browser where the format is supported.</p>
        </div>
      </div>
  </div>
{{template "footer"}}
